# Code quality checks.
export SONAR_TOKEN=
export SONAR_ORGANIZATION=
export SONAR_URL

# Security checks.
export SNYK_TOKEN=

# Packaging/Publishing/Deploy attributes.
export DOCKER_REGISTRY_URL=
export DOCKER_REGISTRY_ID=
export DOCKER_REGISTRY_PASSWORD=

# Build attributes.
export BUILD_VERSION=latest

# Application attributes.
export BACKEND_HOST=phonebook
export DB_HOST=mariadb
export DB_USER=
export DB_PASS=
export DB_ROOT_PASS=
export DB_NAME=phonebook
export APP_USER=
export APP_PASS=
export APP_NAME=phonebook
export APP_DOMAIN=
export APP_EMAIL=