# Code quality checks.
export SONAR_TOKEN=
export SONAR_ORGANIZATION=
export SONAR_URL

# Security checks.
export SNYK_TOKEN=

# Cloud provisioning.
export LINODE_TOKEN=

# Packaging/Publishing/Deploy attributes.
export DOCKER_REGISTRY_URL=
export DOCKER_REGISTRY_ID=
export DOCKER_REGISTRY_PASSWORD=

# Build attributes.
export BUILD_VERSION=latest

# Observability attributes.
# export GRAFANA_HOST=grafana
# export METRICS_HOST=prometheus
# export TRACES_HOST=jaeger
# export LOGS_HOST=fluentd

# Application attributes.
export BACKEND_HOST=phonebook
export DB_HOST=mariadb
export DB_USER=
export DB_PASS=
export DB_ROOT_PASS=
export DB_NAME=phonebook
export APP_USER=
export APP_PASS=
export APP_NAME=phonebook
export APP_DOMAIN=
export APP_EMAIL=

# Terraform environment variables.
export TF_VAR_appName=$APP_NAME
export TF_VAR_appDomain=$APP_DOMAIN
export TF_VAR_linodeToken=$LINODE_TOKEN