export DOCKER_REGISTRY_URL=
export DOCKER_REGISTRY_ID=
export DOCKER_REGISTRY_PASSWORD=

export SONAR_TOKEN=
export SONAR_URL=
export SONAR_ORGANIZATION=
export SONAR_PROJECT_KEY=

export SNYK_TOKEN=

export SLACK_TOKEN=

export FRONTEND_USER=
export FRONTEND_PASS=
export FRONTEND_DOMAIN=
export FRONTEND_HOST=

export BACKEND_HOST=

export DB_HOST=
export DB_USER=
export DB_PASS=
export DB_NAME=

export OBSERVABILITY_LOGS_URL=