export DOCKER_REGISTRY_URL=
export DOCKER_REGISTRY_ID=
export DOCKER_REGISTRY_PASSWORD=

export SONAR_TOKEN=
export SONAR_URL=
export SONAR_ORGANIZATION=
export SONAR_PROJECT_KEY=

export SNYK_TOKEN=

export SLACK_TOKEN=

export DB_USER=
export DB_PASS=
export DB_ROOT_PASS=

export APP_USER=
export APP_PASS=
export APP_DOMAIN=

export OBSERVABILITY_LOGS_URL=http://fluentd:8888