<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <title>Phonebook Demo</title>
</head>
<body>
<div class="container mt-5">
    <table>
        <tr>
            <td>
                <img src="/images/logo.png" width="100"/>
            </td>
            <td>&nbsp;</td>
            <td>
                <h2>Phonebook Demo</h2>
            </td>
        </tr>
    </table>
    <hr/>
    <div class="container text-center mt-5">
        <h1>Sorry!</h1>
        <p class="lead">
            <strong>We couldn't process your request!</strong>
        </p>
        <a th:href="@{/ui}" class="btn btn-success">Please try again!</a>
    </div>
</div>
</body>
</html>